.menu_list {
  font-size: 20px;
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino kaku Gothic ProN", "メイリオ",
    Meiryo, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

h2 {
  padding-top: 30px;
  line-height: 45px;
}

.sp_br {
  display: none;
}

/*------ヘッダーメニュー部分 ここから------*/

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 1);
  z-index: 100;
  transition: 0.3s;
}

header .header_bg {
  position: relative;
}

.header_bg input {
  display: none;
}

header .flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
}

.header_left .title {
  color: #fff;
  padding-left: 20px;
}

header .title img {
  height: 90px;
  object-fit: cover;
}

.header_navi_wrap ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header_navi_wrap li a {
  display: inline-block;
  text-decoration: none;
  padding: 0 24px;
  line-height: 100px;
  color: #fff;
  cursor: pointer;
}

.header_navi_wrap li a:hover {
  color: #bbb;
}

.header_navi_wrap li {
  border-left: 2px solid #eee;
}

.header_navi_wrap li.access_link a {
  padding: 0 24px;
  color: #fff;
  line-height: 24px;
}

.header_navi-wrap li span {
  padding: 8px 16px;
  background-color: #1167ce;
  border-radius: 3px;
}
.header_navi-wrap li span i {
  margin-left: 5px;
}

/*-------ヘッダーナビスライド ここから--------*/
.site_header.hide {
  transform: translateY(-100%);
}

.site_header::after {
  content: "予約優先 025-266−6311";
  position: absolute;
  right: 10px;
  top: 110px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 30px;
}

/*------メインジュアル部分 ここから------*/

.main_visual {
  background-image: url(images/main_v.jpg);
  background-size: cover;
  background-position: right top;
  width: 100%;
  height: 80vh;
  min-height: 600px;
  position: relative;
  top: 0;
  left: 0;
  z-index: -2;
  margin-top: 100px; /*headerをfixedにした分ずらす用*/
}

/*------ごあいさつ部分 ここから------*/

.concept {
  background-image: url(images/bg_1.jpg);
  position: relative;
  min-height: 100px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #000;
}

.concept_cover {
  padding: 100px 0;
}

.concept h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #666;
}

.concept p {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 1.1rem;
  line-height: 35px;
}

.concept .flexbox {
  display: flex;
  justify-content: space-around;
}

.concept .photo {
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
}

.concept .photo ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.concept .photo ul li {
  width: 25%;
  padding: 0 8px 8px 0;
  overflow: hidden;
}

.concept .photo ul li:last-child {
  padding-right: 0;
}

.concept .photo ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------メニュー部分 ここから------*/
.menu {
  background-image: url(images/bg_2.jpg);
  background-size: cover;
  width: 100%;
  min-height: 80vh;
  padding: 100px 0;
}

.menu .menu_inner {
  background-color: rgba(255, 255, 255, 0.6);
  width: 70%;
  min-width: 660px;
  margin: 0 auto;
  padding: 30px 60px 50px;
  text-align: center;
}

.menu h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.menu .menu_list ul li {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  border-bottom: 2px dotted #000;
  position: relative;
}

.menu .menu_list ul li:last-child {
  margin-bottom: 50px;
}

.menu .menu_list ul li .menu_name {
  text-align: left;
}

.menu .menu_list ul li .menu_price {
  text-align: right;
}

.menu .menu_list ul li .menu_price::after {
  content: " (税込)";
}

/*------スケジュール&お知らせ部分 ここから------*/

.info {
  width: 100%;
  height: 100%;
  background-image: url(images/bg_3.jpg);
  background-color: #f0f8ff;
  background-size: cover;
  background-attachment: fixed;
  color: #000;
  text-align: left;
  padding: 100px 0;
}

.info h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
}

.info_wrap {
  display: flex;
  justify-content: space-between;
}

.info .info_cal {
  width: 60%;
  height: 100%;
  margin-right: 40px;
}

.info .info_twitter {
  width: 40%;
  height: 100%;
}

/*------アクセス部分 ここから------*/

.access {
  width: 100%;
  height: 100%;
  background-image: url(images/bg_4.jpg);
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  color: #000;
  text-align: left;
}

.access_wrap {
  display: flex;
  justify-content: space-between;
}

.access .access_address {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 100px 0 50px;
}

.access .access_inner {
  width: 70%;
}

.access .access_inner h2 {
  text-align: center;
  font-size: 2rem;
}

.access .access_address dl {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.access .access_address dl dt {
  padding: 0.5em 0 0.5em 14px;
  width: 100px;
  position: relative;
  line-height: 20px;
}

.access .access_address dl dt:after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  left: 0;
  width: 8px;
  height: 2px;
  background: #000;
}

.access .access_address dl dd {
  width: calc(100% - 100px);
  padding: 0.5em 0 0.5em 10px;
}

.access .access_address .tel {
  text-align: center;
  margin-top: 20px;
}

.access .access_address .tel p {
  text-align: center;
  margin-bottom: 20px;
}

.access .access_address .tel a {
  padding: 10px 40px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  transition: all 0.5s;
}

.access .access_address .tel a:hover {
  background-color: #3d3d3d;
  color: #fff;
}

.access .access_map {
  width: 50%;
}

/*------フッター部分 ここから------*/
footer {
  width: 100%;
  background-color: #000;
  padding: 30px;
  text-align: center;
}

footer .footer_navi ul {
  display: flex;
  justify-content: center;
  line-height: 18px;
  padding-bottom: 20px;
}

footer .footer_navi li {
  padding: 0 20px;
  border-left: 2px solid #fff;
}

footer .footer_navi li:nth-child(1) {
  border-left: none;
}

footer .footer_navi li a {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

footer p {
  font-size: 14px;
  color: #707070;
}

footer {
  position: relative;
}

footer .banner {
  position: absolute;
  bottom: 30px;
  left: 16px;
}

footer .banner img {
  width: 120px;
  object-fit: cover;
  padding: 4px 12px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: rgba(30, 30, 30, 0.7);
  transition: all 0.3s;
}

footer .banner img:hover {
  background-color: #3d3d3d;
}

/*-------「TOPに戻る」ボタン部分 ここから--------*/
#page_top {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 60px;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  display: none;
}

/*------------------------------------*/
/*-------レスポンシブ部分 ここから--------*/
/*------------------------------------*/

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .sp_br {
    display: block;
  }

  /*------ヘッダーメニュー部分(レスポンシブ) ここから------*/

  header {
    position: fixed;
    z-index: 2;
    background-color: rgba(50, 50, 50, 1);
  }

  .header_bg {
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
  }

  .header_bg .title .name {
    padding-left: 0;
  }

  .header_left .title {
    color: #fff;
    padding: 0;
  }

  header .title img {
    height: 80px;
    object-fit: cover;
  }

  .header_left .title .size_s {
    font-size: 15px;
    color: #919191;
  }
  .header_left .title .size_m {
    font-size: 15px;
    line-height: 20px;
  }
  .header_left .title .size_l {
    font-size: 15px;
    line-height: 20px;
  }

  .header_navi_wrap li.access_link {
    display: none;
  }

  /*-------ヘッダーナビスライド(レスポンシブ) ここから--------*/
  .site_header.hide {
    transform: none;
  }
  /* レスポンシブでは自動的にメニューが隠れないようにする */

  .site_header::after {
    display: none;
  }
  /* レスポンシブでは画面右上のTELは非表示 */

  /*------ヘッダーハンバーガーメニュー ここから------*/

  .header_bg label {
    display: block;
  }

  .header_bg label {
    position: absolute;
    right: 10px;
    clear: both;
  }

  .header_bg .hamburger_icon {
    display: inline-block;
    width: 35px;
    height: 25px;
  }

  .header_bg .hamburger_icon i {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .header_bg .hamburger_icon i:nth-child(1) {
    top: 0;
  }

  .header_bg .hamburger_icon i:nth-child(2) {
    margin: auto;
    top: 0;
    bottom: 0;
  }

  .header_bg .hamburger_icon i:nth-child(3) {
    bottom: 0;
  }

  .header_bg input:checked + label span.hamburger_icon i:nth-child(1) {
    margin: auto;
    transform: rotate(45deg);
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
  }

  .header_bg input:checked + label span.hamburger_icon i:nth-child(2) {
    transform: rotateX(90deg);
    top: 0;
    bottom: 0;
  }

  .header_bg input:checked + label span.hamburger_icon i:nth-child(3) {
    margin: auto;
    transform: rotate(-45deg);
    top: 0;
    right: 0;
    bottom: 0;
  }

  .header_bg input:checked ~ .header_right {
    z-index: 100;
    opacity: 1;
    transform: translateX(0);
  }

  .header_right {
    position: fixed;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    top: 100px;
    right: 0;
    transform: translateX(100%);
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease-out;
  }
  .header_navi_wrap {
    width: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition-duration: 1s;
    transition-property: right;
    overflow-y: scroll;
  }

  .header_bg input:checked ~ .header_right .header_navi_wrap {
    right: 0;
  }

  .header_navi_wrap ul {
    margin: 0;
    display: block;
    justify-content: inherit;
  }

  .header_navi_item {
    border-bottom: 1px solid #000;
  }

  .header_navi_wrap li a {
    padding: 0 50px;
    color: #000;
    font-size: 24px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    line-height: 1;
    transition: background-color 0.3s ease-in-out;
  }

  /*------メインジュアル部分(レスポンシブ) ここから------*/

  .main_visual {
    margin-top: 80px;
  }

  .main_visual h1.main_title {
    font-size: 2.2rem;
    white-space: nowrap;
    display: none;
  }

  /*------店舗紹介部分(レスポンシブ) ここから------*/
  .concept_cover {
    padding: 40px 0;
  }
  .concept p {
    width: 90%;
  }

  .concept .photo {
    padding-top: 20px;
  }

  .concept .photo ul li {
    width: 50%;
  }

  .concept .photo ul li:nth-child(2n) {
    padding-right: 0;
  }
  /*------メニュー部分(レスポンシブ) ここから------*/

  .menu .menu_inner {
    padding: 10px 0;
    min-width: 95%;
  }

  .menu .menu_list ul li {
    display: block;
    line-height: 25px;
    padding: 5px;
  }

  .menu .menu_list ul li:last-child::after {
    right: 0;
    top: 4rem;
  }

  /*------スケジュール&お知らせ部分(レスポンシブ) ここから------*/
  .info_wrap {
    display: block;
  }

  .info .info_cal {
    width: 100%;
    margin: 0 auto;
  }

  .info_cal,
  .info_twitter {
    text-align: center;
  }

  .info .info_cal iframe {
    width: 95%;
    height: 400px;
  }

  .info .info_twitter {
    width: 80%;
    margin: 0 auto;
  }

  /*------アクセス部分(レスポンシブ) ここから------*/

  .access_wrap {
    display: block;
  }

  .access .access_address {
    width: 100%;
  }

  .access .access_inner {
    width: 90%;
  }

  .access .access_address dl dt {
    width: 80px;
  }

  .access .access_address dl dd {
    width: calc(100% - 80px);
  }

  .access .access_map {
    width: 100%;
    height: 400px;
  }

  /*------フッター部分(レスポンシブ) ここから------*/
  footer nav.footer_navi {
    display: none;
  }

  footer .banner {
    display: none;
  }

  /*-------「TOPに戻る」ボタン部分 ここから--------*/
  #page_top {
    font-size: 0.8rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 20px;
    right: 20px;
  }
}
